:root
{
    --navigation_banner_font_size: 36px;
    --navigation_banner_height: 44px;
    --navigation_banner_last_element_width: 0px;

    --inner_ring_radius: 0;
    --outer_ring_radius: 0;
}

#navigation_banner_container
{
    position: fixed;
    width: 100%;

    top: 100px;

    overflow: hidden;
    z-index: 10;
}

#navigation_banner
{
    width: max(100%, 2000px);
}

.navigation_banner_content_background
{
    display: block;

    width: fit-content;
    height: fit-content;

    padding: 8px 12px 8px 0px;

    background-color: var(--base_colour_two);
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 26px) 100%, 0% 100%);
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,1));
}


#navigation_banner ul
{
    margin: 0px;
    padding: 0px;

    width: fit-content;
    height: var(--navigation_banner_height);

    overflow: no-display;

    list-style-type: none;

    filter: drop-shadow(0px 0px 10px rgba(0,0,0,1));
}

#navigation_banner li
{
    float: left;
}


li .navigation_banner_content
{
    padding: 5px 6px;
    margin-left: 8px;
    background-color: var(--base_colour_one);
    height: calc(var(--navigation_banner_height) - 10px);

    text-decoration: none;
}

li:first-child .navigation_banner_content { margin-left: 0px; }


#navigation_banner a:hover, #navigation_banner a:visited, #navigation_banner a:link, #navigation_banner a:active
{
    text-decoration: none;
}

.navigation_banner_content h1
{
    display: inline;
    font-family: 'Georgia', sans-serif;
    font-size: var(--navigation_banner_font_size);
    font-style: italic;
    white-space: nowrap;
    padding: 0px 20px;
    color: white;

    text-shadow: 3px 3px black;
}



li .navigation_banner_content:hover
{
    background-color: mediumseagreen;
    background-image: radial-gradient(circle, orange var(--inner_ring_radius), #e1850f var(--outer_ring_radius), orange 85%, black 125%);
    box-shadow: 0px 0px 5px #c2791c inset;
}






li:last-child .navigation_banner_content
{
    pointer-events: bounding-box;
    padding: 5px 22px 5px 10px;
    margin-left: 8px;
    background-color: var(--base_colour_one);
    background-position: -5px 0;
    height: calc(var(--navigation_banner_height) - 10px);
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 20px) 100%, 0% 100%);

    text-decoration: none;



    //padding: 5px 20px 0px 0px;
    //margin-left: 8px;
    //background-color: red;
    //height: calc(var(--navigation_banner_height) - 10px);
    //clip-path: polygon(0% 0%, 115% 0%, 100% 100%, 0% 100%);

    //text-decoration: none;
}


#navigation_banner li:last-child .navigation_banner_content:hover:before
{
    position: relative;
    display: block;
    z-index: -1;

    color: red;

    left: 0px;
    width: calc(100%);
    height: 20px;
    top: calc(5px - var(--navigation_banner_height));

    border-top: calc(var(--navigation_banner_height)) solid black;
    border-right: 15px solid transparent;

    box-shadow: 0px 0px 5px #c2791c inset;
    background-clip: border-box;
    background-image: radial-gradient(circle, seagreen var(--inner_ring_radius), mediumseagreen var(--outer_ring_radius), seagreen 85%, black 125%);
}