:root
{
    --pagePreviewShadowBackgroundColour: black;
}

.page_preview_container:first-of-type
{
    position: relative;
    background-color: transparent;
    margin: 30px 0 70px 0;

    width: 100%;
    height: 175px;
}

.page_preview_container
{
    position: relative;
    background-color: transparent;
    margin: 0px 0 60px 0;

    width: 100%;
    height: 175px;
}

.page_preview_container:last-of-type
{
    position: relative;
    background-color: transparent;
    margin: 0px 0 30px 0;

    width: 100%;
    height: 175px;
}


.page_preview_image_container
{
    pointer-events: none;
    position: absolute;
    top: 0;

    background-color: transparent;
    margin: 0;

    width: 250px;
    height: 100%;

    z-index: 2;
}


.page_preview_image_shadow
{
    pointer-events: none;
    position: absolute;
    width: 350px;
    height: 185px;

    filter: blur(6px);
}

.page_preview_image_shadow:before
{
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--pagePreviewShadowBackgroundColour);
    clip-path: polygon(
            10px 0px,
            260px 0px,
            270px 10px,
            270px 80px,
            250px 100px,
            250px 175px,
            240px 185px,
            10px 185px,
            0px 175px,
            0px 10px);
}


.page_preview_image_inline_shadow
{
    pointer-events: none;
    position: absolute;
    width: 350px;
    height: 185px;
    z-index: 2;

    filter: blur(10px);
    clip-path: polygon(
            15px 5px,
            255px 5px,
            265px 15px,
            265px 75px,
            245px 95px,
            245px 170px,
            235px 180px,
            15px 180px,
            5px 170px,
            5px 15px);
}

.page_preview_image_inline_shadow:before
{
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            0 100%,
            0 0,

            15px 25px,
            15px 160px,
            25px 170px,
            225px 170px,
            235px 160px,
            235px 85px,
            255px 65px,
            255px 25px,
            245px 15px,
            25px 15px,
            15px 25px);
}


.page_preview_image_frame
{
    pointer-events: none;
    position: absolute;
    width: 350px;
    height: 185px;
    background-image: linear-gradient(10deg, #050505, #101013);

    z-index: 3;
    clip-path: polygon(
            10px 0px,
            260px 0px,
            270px 10px,
            270px 80px,
            250px 100px,
            250px 175px,
            240px 185px,
            10px 185px,
            0px 175px,
            0px 10px,
            10px 0px,

            15px 25px,
            15px 160px,
            25px 170px,
            225px 170px,
            235px 160px,
            235px 93px,
            255px 73px,
            255px 25px,
            245px 15px,
            25px 15px,
            15px 25px);
}

.page_preview_image_frame_decor
{
    pointer-events: none;
    position: absolute;
    width: 350px;
    height: 185px;
    background-image: linear-gradient(10deg, #101013, #151520);

    z-index: 3;
    clip-path: polygon(
            12px 5px,
            258px 5px,
            265px 12px,
            265px 78px,
            245px 98px,
            245px 173px,
            238px 180px,
            12px 180px,
            5px 173px,
            5px 12px,
            12px 5px,

            10px 23px,
            10px 162px,
            23px 175px,
            227px 175px,
            240px 162px,
            240px 95px,
            260px 75px,
            260px 23px,
            247px 10px,
            23px 10px,
            10px 23px);
}





.page_preview_image
{
    pointer-events: none;
    position: absolute;

    width: 350px;
    height: 185px;

    background-color: whitesmoke;
    background-size: cover;
    background-position: -50px -10px;

    z-index: 1;

    clip-path: polygon(
            15px 5px,
            255px 5px,
            265px 15px,
            265px 75px,
            245px 95px,
            245px 170px,
            235px 180px,
            15px 180px,
            5px 170px,
            5px 15px);
}

.page_preview_image h1
{
    font-size: 20px;
    text-shadow: 4px 4px black;

    padding-top: 8px;
    padding-left: 30px;

    font-family: 'Agency FB', sans-serif;
    color: whitesmoke;
    word-wrap: break-word;
}

.page_preview_image h1:before
{
    position: absolute;
    content: "";

    z-index: -1;

    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;

    width: 45%;
    height: 60px;

    background-color: #000000CC;
    filter: blur(8px);

    border-radius: 20px;

    margin: 0;
    padding: 2px;
}



.page_preview_content
{
    position: relative;
    top: 10px;
    bottom:10px;
    left: 10px;

    width: calc(100% - 10px);
    box-shadow: 0 0 20px #000000AA;
    height: 160px;

    overflow: hidden;
    border-radius: 10px;
}

.page_preview_content:hover
{
    position: relative;
    top: 10px;
    bottom:10px;
    left: 10px;

    border: red 20px;
    box-shadow: 0 0 10px var(--pagePreviewShadowBackgroundColour);

    width: calc(100% - 10px);

    margin: 0;
}

.page_preview_title_container
{
    position: absolute;

    top:0;
    height: 70px;
    width: 100%;

    background-color: #000000BB;
    color: whitesmoke;
    margin: 0;
}

.page_preview_title_container h2
{
    color: whitesmoke;
    font-size: 34px;
    font-family: 'Agency FB', sans-serif;
    padding: 0 0 0 280px;

    line-height: 0;
    text-shadow: 4px 4px black;
    transform: translate(0, 50%);

    margin: auto;

    height: 100%;
    text-align: left;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.page_preview_description_container
{
    position: absolute;

    background-color: #00000088;
    margin: 0;

    top: 70px;
    height: 90px;
    width: 100%;
}

.page_preview_description_container p
{
    color: whitesmoke;
    font-size: 14px;
    font-family: 'Monaco', sans-serif;
    padding: 0 20px 0 265px;

    margin-bottom: 60px;

    height: 73%;
    text-align: left;

    text-overflow: ellipsis;
    overflow: hidden;
}
