@import url('http://fonts.cdnfonts.com/css/agency-fb');

:root
{
    --title_banner_font_size: min(40px, max(5vw, 20px));

    --base_colour_one: #815622;
    --base_colour_two: #3a2916;
}


#title_banner
{
    position: fixed;

    top: 0;

    min-width: 100%;
    padding: 8px 0;

    background-color: var(--base_colour_two);
    box-shadow: 0px 5px 20px 0px #000000;

    z-index: 20;
}

#title_banner_foreground
{
    position: relative;
    min-width: 100%;

    padding: 10px 0;

    background-color: var(--base_colour_one);
    box-shadow: 0 5px 20px 0 #000000;
}

#title_banner_foreground h1
{
    text-align: center;
    text-shadow: 0.25vw 0.25vw #000;

    margin: 0;

    font-family: 'Georgia', sans-serif;
    font-size: var(--title_banner_font_size);

    white-space: nowrap;

    color: white;
}